.book-card {
	margin-top: 1.5rem;
	padding: 1.5rem;
	background-color: fcfaf5;
	border-radius: 5px;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
}



.book-card{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 20px;
}
.clr {
	clear: both;
}

@media (max-width: 996px){
	.book-info {
		max-width: 300px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 20px;
	}
	.text-dark {
		height: 65px;
		width: 253px;
	}
}

@media (max-width: 810px) {
	.book-info{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 20px;
	}

	.text-dark {
		height: 55px;
		width: 153px;
	}
}

@media (max-width: 710px) {
	
}